html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #1d242df2;
}
#cesiumContainer {
  width: 100%;
  height: 95%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; /* Add this line */
}

#slider {
  position: absolute;
  left: 50%;
  top: 0px;
  background-color: #d3d3d3;
  width: 5px;
  height: 100%;
  z-index: 9999;
  display: none;
}

#slider:hover {
  cursor: ew-resize;
}

.hidden {
  display: none !important;
}

.toolbar {
  position: fixed;
  top: 65%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tool-btn {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: Pretendard;
  flex: 1; /* Add this line */
  background-color: #1d242df2;
}

.toolbar button {
  display: block;
  margin: 5px 0;
  width: 100%;
}

.toolbar button img {
  width: 25px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 5%;
  box-sizing: border-box;
  z-index: 1; /* Add this line */
  background-color: #1d242df2;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: Pretendard;
  flex: 1; /* Add this line */
  background-color: #1d242df2;
}

#coordinates {
  display: inline-block;
  padding: 15px 32px;
  color: #07c752;
  float: right;
  margin-right: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: auto;
}

#coordinates span {
  color: white;
}

.select-modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 300px;
  height: 500px;
  padding: 20px;
  background-color: #1d242de6;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.select-modal .analysis-btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #1d242de6;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-modal {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 300px;
  height: 500px;
  padding: 20px;
  background-color: #1d242de6;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

.modal-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: white;
}

.modal-title h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-content {
  padding-top: 10px;
  color: white;
}

.modal-content-row {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.modal-content-row-top {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0px 15px 12px 15px;
}

.modal-content-row-left {
  width: 125px;
  font-size: 15px;
  font-weight: 500;
  font-family: Pretendard;
  height: 18px;
  line-height: 18px;
}

.modal-content-row-left-tip {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 300;
  width: auto;
  height: 14px;
  line-height: 22px;
  color: #fff;
}

.modal-content-row-right {
  flex: 1 1;
  width: 100%;
}

.modal-content-row-right-p {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.modal-content-row-right-p-btn {
  line-height: 16px;
  width: 120px;
  height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: #5e6165;
  letter-spacing: -0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.upload-form {
  margin-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
  height: 104px;
}

.upload-form-drag {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
  padding: 16px 0;
  background-color: #262d35;
}

.upload-form-drag-btn {
  display: table;
  height: 100%;
  width: 100%;
}

.upload-form-drag-container {
  display: table-cell;
  vertical-align: center;
}

.upload-form-drag-icon {
  margin: 12px;
}

.upload-form-text {
  color: #5c6268;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.modal-bottom {
  width: 100%;
  margin: 28px auto 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bottom-btn {
  width: 164px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #07c752;
  color: #000;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-family: Pretendard;
  font-weight: 400;
}

#slope-modal {
  width: 400px;
}

#slope-direction-modal {
  width: 400px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 24px;
  background: url("~/public/close-btn.png") no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.service-area-modal {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: Arial, sans-serif;
}

#measure-modal {
  position: absolute;
  right: 60px;
  top: 40%;
  background-color: #1d242de6;
  color: white;
  padding: 0;
  border-top: 1.5px solid #7dcd00;
  border-radius: 10px;
  box-shadow: 0 -4px #07c75240;
  list-style: none;
}

#measure-modal li {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#other-tools {
  background-color: #1d242d99;
  position: absolute;
  right: 60px;
  top: 50%;
  width: 47px;
  height: auto;
  padding-bottom: 5px;
  border-radius: 29px;
  padding-left: 6px;
  z-index: 999;
}

#other-tools li {
  list-style: none;
  width: 25px;
  margin: 0 auto;
  margin-left: 0;
}

#other-tools li img {
  border-radius: 21px;
  border: solid 1px rgba(255, 255, 255, 3);
  height: 20px;
  width: 20px;
  margin-top: 7px;
  padding: 5px;
  cursor: pointer;
}

.drawing-modal {
  position: fixed;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  width: 300px;
  height: 400px;
  /* padding: 20px; */
  padding: 20px 0;
  background-color: #1d242de6;
  border-top: 1px solid #07c752;
  border-radius: 10px;
  box-shadow: 0 -3px 4px #07c75240;
  z-index: 1000;
  font-family: Pretendard;
}

.drawing-modal > .modal-title {
  padding-left: 20px;
  padding-bottom: 20px;
}

.drawing-modal > .modal-content {
  padding: 10px 5px;
}

.tools {
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.tool {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-position: center;
  background-size: 80% 80%;
  background-repeat: no-repeat;
}

#draw-point {
  background-image: url("~/public/draw-point.png");
}

#draw-line {
  background-image: url("~/public/draw-line.png");
}

#draw-polygon {
  background-image: url("~/public/draw-polygon.png");
}

#draw-rectangle {
  background-image: url("~/public/draw-rectangle.png");
}

#draw-circle {
  background-image: url("~/public/draw-circle.png");
}

.table-wrapper {
  border: 1px solid #505050;
}

#draw-table {
  width: 100%;
  font-size: 13px;
  text-align: center;
  box-sizing: border-box;
  table-layout: auto;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  border-spacing: 0;
  font-variant: tabular-nums;
}

.draw-table-head {
  color: #ddd;
  background-color: #00000080;
  border: 1px solid #505050;
}

.draw-table-body {
  border: 1px solid #505050;
  height: 150px;
}
